body{
  background-image: url(fondo2.jpg);
  background-position: center center;
  background-repeat: no repeat;
  background-size: cover;
  background-attachment: fixed;
}

.container{
  background-color: rgba(226, 213, 31, 0.521);
  padding: 20px;
  border-radius: 16px;
}

.footer{
  background-color: rgb(75, 8, 8);
}

.txt{
  color: white;
}