body{
    background-image: url(fondo2.jpg);
    background-position: center center;
    background-repeat: no repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.formBox{
    background-color: rgb(189, 16, 4);
    width: 100%;            
    max-width: 500px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.formBox img{
    width: 100%;
    height: auto;
    border-radius: 10px;
    display: block;

}

.footer{
    background-color: rgb(75, 8, 8);
  }

.txt{
    color: white;
}
